@import url(events.css);

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
}
.logout {
    background-color: #8a8d8c;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
  }

  .delete-account{
    background-color: rgb(202, 35, 35);
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
  }
.hero .container {
    background: var(--nav-background);
    height: 250px;
    width: 400px;
}